<!-- Static navbar -->
<div  class="hidden-xs navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("home") }}">
                <img src="{{ base }}/images/logo.png" class="img-responsive" />
            </a>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav" id="main-menu">
                <li {% if page.name == "home" %}class="active"{% endif %} >
                    <a href="{{ path("home") }}">Home</a>
                </li>
                <li {% if page.name == "about" %}class="active"{% endif %} >
                    <a href="{{ path('about') }}">Sobre Selygel</a>
                </li>
                <li class="dropdown {% if page.name == "productos" %}active{% endif %}" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a href="{{ path('productos',{'category' : category.slug }) }}">{{ category.nombre | convert_encoding('UTF-8', 'iso-8859-1') }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li {% if page.name == "consejos" %}class="active"{% endif %} >
                    <a href="{{ path('consejos') }}">Consejos</a>
                </li>
                <li {% if page.name == "contacto" %}class="active"{% endif %} >
                    <a href="{{ path('contacto') }}">Contacto</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="visible-xs">
    <p style="margin-left: auto;
	margin-right: auto;
	width: 250px">
        <a class="text-center" href="{{ path("home") }}">
            <img src="{{ base }}/images/logo.png" class="img-responsive" />
        </a>
    </p>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <div style="width: 50px; margin: 0 auto">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-collapse collapse" style="width: 40%; margin: 0 auto">
            <ul class="nav navbar-nav" id="main-menu">
                <li {% if page.name == "home" %}class="active"{% endif %} >
                    <a href="{{ path("home") }}">Home</a>
                </li>
                <li {% if page.name == "about" %}class="active"{% endif %} >
                    <a href="{{ path('about') }}">Sobre Selygel</a>
                </li>
                <li class="dropdown {% if page.name == "productos" %}active{% endif %}" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a href="{{ path('productos',{'category' : category.slug }) }}">{{ category.nombre | convert_encoding('UTF-8', 'iso-8859-1') }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li {% if page.name == "consejos" %}class="active"{% endif %} >
                    <a href="{{ path('consejos') }}">Consejos</a>
                </li>
                <li {% if page.name == "contacto" %}class="active"{% endif %} >
                    <a href="{{ path('contacto') }}">Contacto</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>