body {
    background-color: #E1DCD2;
    font-family: 'Verdana', sans-serif;
}

p {
    font-size: 13px;
}

.navbar {
    background-color: #FF541F;

}

.navbar a {
    color: #ffffff !important;
}

a.navbar-brand {
    max-height: 50px;
    padding: 0;
}

.nav>li, ul.dropdown-menu {
    background-color: #FF541F;
}

#main-menu {
    text-transform: uppercase;
}

div.main-content, div.main-row {
    padding: 0 !important;;
}

div.body-padding {
    margin-top: 170px;
    background-color: white !important;
}

/** FOOTER **/

div.footer {
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-color: #E0CCA9;
    padding-top: 40px;
    color: #806A31;
}

div.footer ul {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

div.footer ul li {
    list-style-type: none;
}

div.footer h4, div.footer h5 {
    text-align: center;
    text-transform: uppercase;
}

div.footer h4 {
    color: #FF541E;
    line-height: 52px;
}

div.footer h5, div.section-content h5 {
    font-size: 18px;
}

div.footer h4 img {
    margin-top: -10px;
}

div.footer div.col-md-4:nth-child(2), div.footer div.col-md-4:first-child + span4 {
    border-right: 1px solid #CBB99D;
    border-left: 1px solid #CBB99D;
}

.shadow {
    -moz-box-shadow: 3px 5px 4px #999;
    -webkit-box-shadow: 3px 5px 4px #999;
    box-shadow: -4px 5px 6px #999;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#999')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=80, Color='#999');;
}

/** FONDOS **/

div.fondo {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 30px 50px 30px;
}

div.fondo.about {
    background-image: url('../images/fondo_somos.png');
}

div.fondo.consejos {
    background-image: url('../images/fondo_consejos.png');
}

div.fondo.blanco {
    background-color: #F9F4EF;
}

div.fondo.contacto {
    background-image: url('../images/fondo_contacto.png');
}

/** SECTIONS **/
/** SECTIONS **/
div.section-content, .consejos-wrapper ul li {
    background-color: #EDDEC7;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    color: #3A2E16;
}

div.section-content {
    padding: 15px 35px;
}

div.section-content::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

div.section-content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FF541F;
}

div.section-content h4, div.consejos h4 {
    text-transform: uppercase;
    color: #FF541E;
    font-size: 25px;
    margin-bottom: 20px;
}

div.section-content h5 {
    font-size: 18px;
    font-weight: bold;
}

div.section-content hr {
    border: 0;
    border-top: 1px solid #999;
}

div.section-content form input, div.section-content form textarea {
    border: 1px solid #FF541E !important;
    background-color: #EDDEC7;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

/** CONSEJOS **/


div.consejos ul {
    list-style-type: none;
}

div.consejos ul li {
    margin-bottom: 10px;
}

div.consejos ul li div.container {
    background-color: #EDDEC7;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    color: #3A2E16;
    padding: 10px;
}

div.consejos ul li h5 {
    color: #FF541E;
    font-size: 18px;
    text-align: center;
}

div.consejos ul li img {
    display: block;
    margin: 0 auto;
}

/** PRODUCTS **/

ul.thumbnails {
    list-style-type: none;
}

ul.thumbnails li {
    margin: 10px 0;
}

div.thumbnail img {
    cursor: pointer;
}

div.thumbnail {
    min-height: 350px;
}


div.product-container {
    background-color: #F9F4EF;
    padding-top: 200px;
    padding-bottom: 50px;
}

div.caption p {
    margin: 0;
    padding-bottom: 10px;
}

ul.features {
    list-style-type: none;
    margin: 10px 0 0px 0;
    padding: 0;
}

ul.features li {
    float: left;
    width: 40px;
}

ul.features li i {
    cursor: pointer;
    display: block;
}

/** icons */
i.icon {
    width: 24px;
    height: 24px;
    background-position: 0;
    background-repeat: no-repeat;
}

i.icon-cantidad {
    background-image: url('../images/icons/icons-01.png');
}

i.icon-descongelamiento {
    background-image: url('../images/icons/icons-02.png');

}

i.icon-peso {
    background-image: url('../images/icons/icons-03.png');
}

i.icon-temp {
    background-image: url('../images/icons/icons-04.png');
}

i.icon-tiempo {
    background-image: url('../images/icons/icons-05.png');
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #ff7522;
}

/** FIXES **/
.navbar-collapse {
    border-top: none;
    margin: 0 auto !important;
}

.navbar-collapse ul {
    margin-top: 0;
}

@media (min-width: 992px) {

    div.fondo {
        padding-top: 200px;
    }
}

.navbar-collapse.collapse {
    display: none !important;
}

@media (min-width: 992px) {
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-brand {
        padding-left: 75px !important;
    }

    div.consejos ul li div.container {
        min-height: 560px;
    }

    .col-md-2, .col-lg-2 {
        width: 20%;
    }

    div.section-content {
        margin-left: 65px;
    }

    .col-md-12 > h4 {
        margin-left: 45px;
    }

    div.row.multi-columns-row {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {

    .navbar-collapse {
        overflow: hidden;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: -15px !important;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        display: block;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-nav>li {
        float: none;
    }

    .col-md-12 > ul.row {
        margin-left: -55px;
    }

    div.row.multi-columns-row {
        margin-left: -30px;
    }
}

@media (max-width: 767px) {
    .navbar {
        margin: auto -15px 0 -15px;
    }
    .navbar-toggle {
        margin-right: 10px !important;
    }

    div.fondo {
        padding-top: 50px;
    }
}

/** HOME **/
div.aditional-content {
    background-color: #C3D8D7;
}

.text-desc {
    background-color: #EDDEC7;
    padding: 10px;
    padding-bottom: 30px;
    position: relative;
    margin: 15px 0;
    -moz-box-shadow: 3px 5px 4px #999;
    -webkit-box-shadow: 3px 5px 4px #999;
    box-shadow: -4px 5px 6px #999;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#999')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=80, Color='#999');;
}

div.box-message {
    min-height: 70px;
}

div.box-message h4, div.box-message h5 {
    background-image: url('../images/home_conoce.png');
    background-repeat: no-repeat;
    color: white;
    height: 70px;
    font-weight: normal !important;
    padding-left: 15px;
    padding-top: 10px;
}

div.box-message p {
    margin: 0 15px;
}

div.text-desc a {
    width: 80px;
    height: 20px;
    position: absolute;
    right: 0; bottom: 10px;
    text-align: center;
    background-color: #573D00;
    color: white;
}

.navbar {
    border: none;
}