{% set base = app.request.basepath %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Selygel{% block title_extra %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet">
    {% block extra_headers %}{% endblock %}
    <style type="text/css">
    {% block style_code %}{% endblock %}
    </style>

  </head>

  <body>

    <div class="container">

      {% include 'components/menu.html.twig' %}
      
      {% include 'flash.html.twig' %}

      <div class="row main-row">
          {% block main_content %}
          {% endblock %}
      </div>
      {% block aditional_content %}{% endblock %}

        <div class="footer row">
            <div class="col-md-4">
                <ul class="text-center">
                    <li><a href="{{ base }}">Home</a></li>
                    <li><a href="{{ path("about") }}">Sobre Selygel</a></li>
                    <li><a href="{{ path('productos') }}">Productos</a></li>
                    <li><a href="{{ path('consejos') }}">Consejos</a></li>
                    <li><a href="{{ path('contacto') }}">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Comunicate con nosotros</h4>
                <p style="margin-top: -15px" class="text-center">
                    <a href="mailto:ventas@selygel.com.ar">ventas@selygel.com.ar</a>
                </p>
            </div>
            <div class="col-md-4">
                <h4>Seguinos en <a href="https://www.facebook.com/pages/Selygel/334279843327880?fref=ts" target="_blank"><img src="{{ base }}/images/facebook_icon.png"></a></h4>
            </div>
        </div>

    </div> <!-- /container -->


    {% block javascripts %}
    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="{{ base }}/js/respond.min.js"></script>
    <![endif]-->
    {% endblock javascripts %}
  </body>
</html>
