<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block page_title %}IGCSE Mathematics (0580) - Admin {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block stylesheets %}
        <link href="{{ app.request.basepath }}/css/admin.css" rel="stylesheet">
    {% endblock %}
    <style type="text/css">
    {% block style_code %}{% endblock %}
    </style>

  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path("admin_dashboard") }}">Mathematics Admin</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path("admin_pages_list") }}">Pages</a></li>
            <li><a href="{{ path("admin_news_list") }}">News</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="{{ path("admin_handout_list") }}">Handouts</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Homework</a></li>
                <li><a href="#">Exams</a></li>
              </ul>
            </li>
          </ul>
          {% block user_menu %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Administrator <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('admin_logout') }}">
                        <span class="glyphicon glyphicon-off"></span> Logout
                    </a>
                </li>
              </ul>
            </li>
          </ul>
         {% endblock user_menu %}
        </div><!--/.nav-collapse -->
      </div>
      
      {% include 'flash.html.twig' %}
      
      <div class="row">
        <div class="col-lg-12">
            {% block main_content %}
            {% endblock main_content %}
        </div>
      </div>
      {% block aditional_content %}{% endblock %}

    </div> <!-- /container -->


    {% block javascripts %}
    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    {% endblock javascripts %}
  </body>
</html>

