{% extends "base.html.twig" %}
{% block extra_headers %}
    <link href="{{ app.request.basepath }}/css/multi-columns-row.css" rel="stylesheet">
{% endblock %}
{% block main_content %}
    <div class="col-md-12 fondo consejos">
        <h4>Consejos practicos</h4>
        <ul class="row multi-columns-row">
            <li class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                <div class="container">
                    <img src="{{ base }}/images/home_37.png" />
                    <h5>Almacenaje</h5>
                    <p>Es importante colocar los productos en la cámara frigorífica rápidamente.
                        La temperatura idónea de la cámara es de -18ºC.</p>
                </div>
            </li>
            <li class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                <div class="container">
                    <img src="{{ base }}/images/home_35.png" />
                    <h5>Preparación</h5>
                    <p>Es importante respetar los tiempos de descongelamiento indicadas en la ficha técnica para obtener el mejor producto.</p>
                </div>
            </li>
            <li class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                <div class="container">
                    <img src="{{ base }}/images/3.png" />
                    <h5>Manipulación en la cocción</h5>
                    <p>Colocar el productos en el horno cuando haya alcanzado la temperatura adecuada. Recuerde no abrir el horno mientras el producto esté cociéndose y respeta el tiempo de cocción indicado en cada referencia. Una vez cocido, sacar el producto y dejar enfriar en las mismas bandejas sin colocar ninguna pieza encima de otra.</p>
                </div>
            </li>
            <li class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                <div class="container">
                    <img src="{{ base }}/images/home_24.png" />
                    <h5>Decoración</h5>
                    <p>La decoración es importante dependiendo el producto y lo hará mas atractivo al cliente, algunos productos se les puede agregar almíbar, azúcar, azúcar impalpable, y esto puede realzarlo a la vistar.</p>
                </div>
            </li>
            <li class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
                <div class="container">
                    <img src="{{ base }}/images/home_26.png" />
                    <h5>Exposición</h5>
                    <p>La exposición del producto es importante, bandejas, tablas puede realzar el producto a la vista mejorando su venta y rotación.</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--[if lt IE 9]>
    <script src="{{ base }}/js/ie-row-fix.js"></script>
    <![endif]-->
{% endblock %}