{% extends "forms.html.twig" %}
{% block main_content %}
<div class="col-md-12 fondo contacto">
    <div class="row">
        <div class="col-md-6 col-md-offset-1 shadow section-content">
            <h4>Contacto</h4>
            <hr>
            <form method="post" class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" class="pull-right" style="border:0 !important;" value="ENVIAR">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}