{% block flash %}
{% if flash is defined %}
<div style="position: absolute; width: 60%; left: 20%; top: 160px; z-index: 99999" class="alert alert-dismissable alert-{{ flash.type }}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<div class="container">
  <p><strong>{{ flash.short }}</strong> {{ flash.ext }}</p>
</div>
</div>
{% endif %}
{% endblock flash %}