{% extends "base.html.twig" %}

{% form_theme form _self %}

{% block form_row %}
    <div class="form-group {% if errors|length > 0 %} has-error {% endif %}">
        {{ form_label(form, null, { 'label_attr': {'class': 'control-label col-md-2'} }) }}
        <div class="col-md-8">
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}


{% block textarea_widget %}
    {% spaceless %}
        <textarea rows="8" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="help-inline">
        {% for error in errors %}
            {{ error.message }},
        {% endfor %}
    </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block main_content %}{% endblock %}