{% extends "base.html.twig" %}
{% block main_content %}

    <div class="col-md-12 main-content">
        <p style="margin: 0">
            <img src="{{ base }}/images/home_foto_1.png" class="img-responsive">
        </p>
    </div>
{% endblock %}
{% block aditional_content %}
    <div class="row aditional-content">
        <div class="col-md-6 col-sm-6">
            <div class="col-md-11 col-md-offset-1 text-desc">
                <div class="box-message">
                    <h4 class="hidden-xs hidden-sm">> SOBRE SELYGEL :: Conocé más!</h4>
                    <h5 class="hidden-md hidden-lg">>SOBRE SELYGEL :: Conocé más!</h5>
                    <p>
                        Comercializar productos congelados brindando soluciones integrales al rubro gastronómico; a través de un servicio de excelencia tanto en la entrega de los mismos como en la utilización...
                    </p>
                </div>
                <a href="{{ path('about') }}">VER +</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="col-md-11 col-md-offset-1 text-desc">
                <div class="box-message">
                    <h4 class="hidden-xs hidden-sm">> CONSEJOS</h4>
                    <h5 class="hidden-md hidden-lg">> CONSEJOS</h5>
                    <p>
                        Consejos prácticos a tener en cuenta con nuestros productos para aprovecharlos al 100%.
                    </p>
                </div>
                <a href="{{ path('consejos') }}">VER +</a>
            </div>
        </div>
    </div>
{% endblock %}