{# empty Twig template #}
{% extends "base.html.twig" %}

{% block main_content %}
<div class="col-lg-12">
            <div class="well" style="margin: 0 auto; width: 500px">
              <form class="bs-example form-horizontal" >
                <fieldset>
                  <legend>Student's Login</legend>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-danger">Cancel</button> 
                      <button type="submit" class="btn btn-success">Login</button> 
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
{% endblock %}
