{% extends "base.html.twig" %}
{% block extra_headers %}
    <link href="{{ app.request.basepath }}/css/multi-columns-row.css" rel="stylesheet">
{% endblock %}
{% block menu_aditional %}
    <ul class="categories visible-md visible-lg">
        {% for category in categories %}
            <li><a href="{{ path('products',{'category' : category.nombre }) }}">{{ category.nombre | convert_encoding('UTF-8', 'iso-8859-1') }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block main_content %}
<div class="col-md-12 fondo blanco">
    <div class="row">
        <div class="col-md-12">
            <h4>{{ categoria.nombre | convert_encoding('UTF-8', 'iso-8859-1') }}</h4>
        </div>
    </div>
    <div class="row multi-columns-row">
        <ul class="col-md-12 thumbnails">
            {% for producto in productos %}
                <li class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                    <div class="thumbnail">
                        <img src="{{ base }}{% if producto.imagen is not empty %}{{ "/files/%s/%s"|format(categoria.slug |lower, producto.imagen)  }}{% else %}/images/imagen-no-disponible.jpg{% endif %}" class="img-responsive"/>
                        <div class="caption">
                            <h5>{{ producto.nombre }}</h5>
                            <p>
                                {{ producto.descripcion }}
                            </p>
                            <ul class="features clearfix">
                                {% if producto.dimensiones | length > 0 %}
                                    <li><i class="icon icon-cantidad tips" data-toggle="tooltip" title="<strong>Dimensiones: </strong> {{ producto.dimensiones }}"></i></li>
                                {% endif %}
                                {% if producto.cantidad | length > 0 %}
                                    <li><i class="icon-peso icon tips" data-toggle="tooltip" title="<strong>Cantidad:</strong> {{ producto.cantidad }}"></i></li>
                                {% endif %}
                                {% if producto.tiempo_descongelamiento | length > 0 %}
                                    <li><i class="icon-descongelamiento icon tips" data-toggle="tooltip" title="<strong>Tiempo de Descongelamiento:</strong> {{ producto.tiempo_descongelamiento }}"></i></li>
                                {% endif %}
                                {% if producto.tiempo_coccion | length > 0 %}
                                    <li><i class="icon-tiempo icon tips" data-toggle="tooltip" title="<strong>Tiempo de Cocción</strong> {{ producto.tiempo_coccion }}"></i></li>
                                {% endif %}
                                {% if producto.temp_coccion | length > 0 %}
                                    <li><i class="icon-temp icon tips" data-toggle="tooltip" title="<strong>Temperatura de Cocción</strong> {{ producto.temp_coccion }}"></i></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">Modal header</h3>
                </div>
                <div class="modal-body">
                    <p class="image"></p>
                    <p class="description"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base }}/js/expander.min.js" ></script>
    <!--[if lt IE 9]>
    <script src="{{ base }}/js/ie-row-fix.js"></script>
    <![endif]-->
    <script type="text/javascript">
        (function($){

            $('.tips').tooltip({
                html: true
            });

            $(".caption p").expander({
                expandText: '[...]',
                userCollapseText: '[^]'
            });

            $("div.thumbnail img").click(function(){
                var producto = $(this).siblings('div.caption');
                // cargo la info del producto desde el html
                $("#myModal").find("h3#myModalLabel").text(producto.find('h5').text());
                $("#myModal").find("div.modal-body .description").text(producto.find('p').text());
                var imgSrc = $(this).attr("src");
                var newSrc = imgSrc.substring(0, imgSrc.lastIndexOf("/")) + "/popup" + imgSrc.substring(imgSrc.lastIndexOf("/"));
                var img = $("<img>"); img.attr("src", newSrc); img.addClass('img-responsive');
                $("#myModal").find("div.modal-body .image").html(img);
                $("#myModal").modal("show");
            });

        })(jQuery);
    </script>
{% endblock %}