{% extends "base.html.twig" %}
{% block main_content %}
<div class="col-md-12 fondo about">
    <div class="row">
        <div class="col-md-6 shadow section-content">
            <h4>Cuál es el objetivo de SELYGEL?</h4>
            <p>Comercializar productos congelados brindando soluciones integrales al rubro gastronómico; a través de un servicio de excelencia tanto en la entrega de los mismos como en la utilización y exposición de los productos para maximizar las utilidades y obtener así el máximo provecho.</p>
             
            <p>El objetivo lo alcanzamos a través una serie de puntos:
            <ul>
                <li>Asesoramiento personalizado. Nuestro equipo de vendedores se acerca personalmente a su establecimiento y, además de ofrecerle una degustación de los productos seleccionados, se le brinda el apoyo técnico necesario acerca de la utilización de los mismos.
                <li>Recibimos los pedidos hasta 24hs. antes del día de la entrega; minimizando de esta manera los posibles errores y teniendo siempre disponible el producto en su local.
                <li>Contamos con una moderna flota de camiones y camionetas equipadas con la última tecnología en enfriamiento, lo cual asegura la entrega del producto en su establecimiento en perfectas condiciones.
                <li>Nuestro equipo de vendedores está disponible y en permanente contacto para asesorar frente a cualquier eventualidad y aspecto del negocio.
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}
